app_awana_store/cartridge/webreferences/GetZipFromIPDev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetZipFromIP" targetNamespace="http://www.approuter.com/connectors/wsdl" xmlns:tns1="http://www.approuter.com/connectors/request/4/" xmlns="" xmlns:tns2="http://www.approuter.com/connectors/response/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.approuter.com/connectors/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/request/4/" xmlns:tns="http://www.approuter.com/connectors/request/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetZipFromIPRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="IPAddress" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/response/4/" xmlns:tns="http://www.approuter.com/connectors/response/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetZipFromIPResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Success" type="xs:boolean"/>
                            <xs:element name="Message" type="xs:string"/>
                            <xs:element name="ZipCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetZipFromIPRequest">
    <wsdl:part name="request" element="tns1:GetZipFromIPRequest"/>
  </wsdl:message>
  <wsdl:message name="GetZipFromIPResponse">
    <wsdl:part name="response" element="tns2:GetZipFromIPResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetZipFromIPPort">
    <wsdl:operation name="GetZipFromIP">
      <wsdl:input message="tns:GetZipFromIPRequest"/>
      <wsdl:output message="tns:GetZipFromIPResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetZipFromIPBinding" type="tns:GetZipFromIPPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetZipFromIP">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetZipFromIPService">
    <wsdl:port name="GetZipFromIPPort" binding="tns:GetZipFromIPBinding">
      <soap:address location="https://ci5.awana.org:443/dGetZipFromIP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
