app_awana_store/cartridge/webreferences/pGetNewsletterSubscriptions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="pNewsLetterRequest" targetNamespace="http://www.approuter.com/connectors/wsdl" xmlns:tns1="http://www.approuter.com/connectors/" xmlns="" xmlns:tns2="http://www.approuter.com/connectors/response/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.approuter.com/connectors/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/" xmlns:tns="http://www.approuter.com/connectors/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="NewsLetterIn">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Token" nillable="false">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="AccountID" nillable="false" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NewsLetterIn" type="tns:NewsLetterIn"/>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/response/4/" xmlns:tns="http://www.approuter.com/connectors/response/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetNewsletterSubscriptionsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Success" type="xs:string"/>
                <xs:element name="Message" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="NewsletterName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="pNewsLetterRequestRequest">
    <wsdl:part name="request" element="tns1:NewsLetterIn"/>
  </wsdl:message>
  <wsdl:message name="pNewsLetterRequestResponse">
    <wsdl:part name="response" element="tns2:GetNewsletterSubscriptionsResponse"/>
  </wsdl:message>
  <wsdl:portType name="pNewsLetterRequestPort">
    <wsdl:operation name="pNewsLetterRequest">
      <wsdl:input message="tns:pNewsLetterRequestRequest"/>
      <wsdl:output message="tns:pNewsLetterRequestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pNewsLetterRequestBinding" type="tns:pNewsLetterRequestPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pNewsLetterRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pNewsLetterRequestService">
    <wsdl:port name="pNewsLetterRequestPort" binding="tns:pNewsLetterRequestBinding">
      <soap:address location="http://ci4.awana.org:80/pGetNewsletterSubscriptions"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
