app_awana_store/cartridge/webreferences/SetPasswordDev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SetPassword" targetNamespace="http://www.approuter.com/connectors/wsdl" xmlns:tns1="http://www.approuter.com/connectors/request/11/" xmlns="" xmlns:tns2="http://www.approuter.com/connectors/response/11/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.approuter.com/connectors/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/request/11/" xmlns:tns="http://www.approuter.com/connectors/request/11/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SetPasswordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EMail" type="xs:string"/>
                            <xs:element name="Password" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/response/11/" xmlns:tns="http://www.approuter.com/connectors/response/11/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SetPasswordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="response">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Success" type="xs:boolean"/>
                            <xs:element name="Message" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SetPasswordResponse">
    <wsdl:part name="response" element="tns2:SetPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="SetPasswordRequest">
    <wsdl:part name="request" element="tns1:SetPasswordRequest"/>
  </wsdl:message>
  <wsdl:portType name="SetPasswordPort">
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordRequest"/>
      <wsdl:output message="tns:SetPasswordResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SetPasswordBinding" type="tns:SetPasswordPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SetPasswordService">
    <wsdl:port name="SetPasswordPort" binding="tns:SetPasswordBinding">
      <soap:address location="https://ci5.awana.org:443/SetSFDCPassword"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
