app_awana_store/cartridge/webreferences/UpdateNewsletterSubscriptionsDev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NewsLetterRequest" targetNamespace="http://www.approuter.com/connectors/wsdl" xmlns:tns1="http://www.approuter.com/connectors/request/4/" xmlns="" xmlns:tns2="http://www.approuter.com/connectors/response/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.approuter.com/connectors/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/request/4/" xmlns:tns="http://www.approuter.com/connectors/request/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="UpdateNewsletterSubscriptionsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AccountID" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="NewsletterName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.approuter.com/connectors/response/4/" xmlns:tns="http://www.approuter.com/connectors/response/4/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="UpdateNewsletterSubscriptionsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Success" type="xs:string"/>
                <xs:element name="Message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="NewsLetterRequestRequest">
    <wsdl:part name="request" element="tns1:UpdateNewsletterSubscriptionsRequest"/>
  </wsdl:message>
  <wsdl:message name="NewsLetterRequestResponse">
    <wsdl:part name="response" element="tns2:UpdateNewsletterSubscriptionsResponse"/>
  </wsdl:message>
  <wsdl:portType name="NewsLetterRequestPort">
    <wsdl:operation name="NewsLetterRequest">
      <wsdl:input message="tns:NewsLetterRequestRequest"/>
      <wsdl:output message="tns:NewsLetterRequestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewsLetterRequestBinding" type="tns:NewsLetterRequestPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewsLetterRequest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsLetterRequestService">
    <wsdl:port name="NewsLetterRequestPort" binding="tns:NewsLetterRequestBinding">
      <soap:address location="http://ci5.awana.org:80/UpdateNewsletterSubscriptions"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
